.smallImg{
    display: inline-block;
    height: 100px;
    width: 120px;
    border: solid 1px black;
    float: left;
}

#bigImg{
    display: block;
    height: 300px;
    width: 360px;
    border: 1px solid black;
    margin: auto;
}

img{
    height: 100%;
    width: 100%;
}